@model IEnumerable<Norget.Models.Usuario>

@{
    ViewData["Title"] = "Painel Usuario";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/painelusuario.css" asp-append-version="true" />
    <link rel="shortcut icon" type="imagex/png" href="~/img/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Editar</title>

</head>
<body>

<br />
<p>
    <a asp-controller="Home" asp-action="CadastroUsuario">Cadastra Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaCli)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenhaCli)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.Id },
                             new { onclick = "return confirm('Deseja realmente Excluir este item?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br><br>
    
    
 
</body>
</html>